header,
footer {
    background-color: #1f2937;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 20px 150px;
    font-size: 18px;
}

nav ul a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 0px 15px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 20px 150px;
}


/* Hero */
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 10px;
}

section.hero {
    display: flex;
    padding: 50px 150px;
    gap: 75px;
    padding-bottom: 100px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 7px 35px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
}


/* Info Section */
.info h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 30px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.info-container img,
figure {
    width: 175px;
}

figure {
    margin-bottom: 100px;
}

.info-container img {
    border: 5px solid #3882f6;
    border-radius: 15px;
}

figcaption {
    color: #4B5563;
    font-size: 18px;
    text-align: center;
    padding: 10px 5px;
}

/*Testimonial Section*/
.testimonial {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 150px 200px 100px 200px;
    display: flex;
    flex-direction: column;
}

.author {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 45px;
}


/*Call to Action*/

.banner {
    background-color: #3882f6;
    margin: 100px 150px;
    border-radius: 10px;
    padding: 50px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h3 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.banner p {
    color: #e5e7eb;
    font-size: 18px;
}

.banner button {
    border: 2px solid #f9faf8;
    margin: 0;
}


/*Footer*/
footer {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 25px;
}